@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto Mono', monospace; 
}

body {
  font-family: 'Roboto Mono', monospace; 
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: whitesmoke;
}

.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input.error {
  border-color: red;
}


.input-feedback {
  color: red;
  height: 5px;
  margin-top: -12px;
}

table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

td,th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


tr:nth-child(even){
  background-color: #dddddd;
}
